* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background: rgb(247, 172, 184);
    padding-top: 150px; 
}


/* CSS */
.gif {
    width: 400px;
    border: solid white 5px;
}

h2 {
    margin-left: 400px;
    margin-right: 400px;
}

.buttony {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttony:hover {
  background-color: #fff;
}

.buttony:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.buttonn {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .buttonn:hover {
    background-color: #fff;
  }
  
  .buttonn:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

@media (min-width: 768px) {
  .buttony {
    min-width: 120px;
    padding: 0 25px;
  }
  .buttonn {
    min-width: 120px;
    padding: 0 25px;
  }
}
